.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bio-section {
  text-align: left;
  font-size: smaller;
  padding-left: 5%;
  padding-right: 5%;
}

.selfie-img {
  border: 5px solid #002E0E;
  height: 40vh;
  width: 50%;
  border-radius: 100%;
}

.selfie-div {
  display: flex;
  justify-content: center;
}

.bio-div {
  margin-top: 10vh;
  padding-right: 10%;
  padding-left: 10%;
}

.nav-bar {
  justify-content: end;
}

.techstack-div {
  margin-top: 7%;
}

.tech-stack-title {
  color: #666a72;
}

.techstack-icons {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
}

.icon {
  margin: 0;
  padding: 0;
  list-style: none;
  transition: 100ms;
}

.main-container {
  padding-left: 10%;
  margin: 50px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.h1-title-span {
  color: #002E0E;
}

.bio-section-h1 {
  padding-left: 2%;
  padding-right: 2%;
  font-size: 30px;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
